.about-us-container {
  text-align: center;
  padding: 20px;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.about-text {
  flex: 1;
}

.about-image {
  flex: 1;
}

.about-image img {
  max-width: 100%;
  height: auto;
}
